body{
    background-color: #d4d2ef;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
  }
  
  
  svg{
    border-style: solid;
    border-width: 1px;
    border-color:#b5b1ef;
  }
  
  
  