<footer>
    <p>Data Sources:</p>
    <p><a href="https://catalog.data.gov/dataset/dohmh-dog-bite-data">The World Bank- Dog Bite Data</a>.
    <p>This study is an investigation of the number of dog bites by female dogs across the five boroughs of NYC. Though exact data varies, there is a consistent trend being that Manhattan and Brooklyn have the most dog bites, and Staten Island has the least. Data fluctuates annually, which likely has correlation to the events of the year, for ex. the COVID pandemic of 2020.</p>
</footer>